# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

# Ignore IntelliJ IDEA directory
.idea
*.iml

# Ignore copyrighted material
*.png
*.wav
*.jpg
*.bmp

# Ignore Fitch generated log files
*.log